<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

    <th:block layout:fragment="addCss">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    </th:block>

    <th:block layout:fragment="addScript">
        <script th:src="@{/js/main.js}"></script>
    </th:block>

    <main layout:fragment="content">
        <h1 th:text="${commonData}"></h1>
        <h1>메인페이지~</h1>
        <div style="max-width : 500px">
            <img style="display : block; margin : auto; width : 150px; width : 150px" src="https://jmagazine.joins.com/_data/photo/2016/05/2949993309_olERkGMq_01.jpg">
            <h1 style="text-align : center;">계절은 돌고 돌아 도라에몽</h1>
        </div>

    </main>
</html>